* {
    margin: 0;
    padding: 0;
}

.coreDiv {
    background: #0D0D0D;
    height: 12.5rem;
    width: 100%;
}

.headerDiv {
    display: flex;
    justify-content: center;
}

.spanTo {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 3.125rem;
    color: #4EA8DE;
    margin-top: 3rem;
}

.spanDo {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 3.125rem;
    color: #5E60CE;
    margin-top: 3rem;
}

.inputItems {
    display: flex;
    justify-content: center;

    margin-top: 4rem;
}

.typingTask {
    background: #333333;
    color: #808080;

    height: 0.5rem;
    width: 50%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.typingTask:focus {
    border: none;
}

.createButton {
    font-family: 'Inter';
    color: #F2F2F2;
    font-weight: bold;
    background: #1E6F9F;
    border: none;
    border-radius: 10px;
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.createButton:hover {
    background: #4EA8DE;
    cursor: pointer;
    transition: 0.5s;
}

.todoLogo {
    height: 2.75rem;
    margin-right: 10px;
    margin-top: 3.7rem;
}

.createButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.typingTask {
    resize: none;
    overflow: hidden;
}